= content_for(:title, "ShelterFinder")
%link{:rel => :stylesheet, :type => :"text.css", :href => "/assets/main_page"}
%div{:class => "nav_background"}
  %div{:class => "background_fit"}
    %p{:class => "nav_title"} Shelter Finder
    %p{:class => "nav_desc"} CHERCHER OU PROPOSER UN REFUGE D'URGENCE
    %img{:src => "/assets/localisation.png", :alt => "localisez-moi", :id => "button_locate"}
    %button{:type => "button", :class => "easter_egg"}
      %a{:href => "home/starwars"}.
    %p{:class => "menu_action", :id => "menu_danger"} Danger

    %p{:class => "menu_action", :id => "menu_maison"} Refuge

    %div{:class => "hidden", :id => "connectionTab"}
    %p{:class => "menu_action", :id => "menu_locate"} Où suis-je
    %img{:src => "/assets/maison.png", :alt => "declarez-moi", :id => "button_declare"}
    %img{:src => "/assets/danger.png", :alt => "dangerisez-moi", :id => "button_danger"}
%div{:id => "map"}
%container_fluid{:class => "logo"}
  %h1 Casseurs Overflowtants
  = link_to("Sign in with Facebook", user_omniauth_authorize_path(:facebook))
  = link_to "Log in with Facebook", "/auth/facebook"
%section{:class => "map", :id => "map"}
  %script{:src => "/assets/OpenLayers.js"}
  %script
    var zoom = 15;
    map = new OpenLayers.Map("map");
    map.addLayer(new OpenLayers.Layer.OSM());

    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
    function(position) {
    lat = position.coords.latitude;
    lon = position.coords.longitude;
        
    var lonLat = new OpenLayers.LonLat(lon, lat).transform(
    new OpenLayers.Projection("EPSG:4326"),
    map.getProjectionObject());

    map.setCenter(lonLat, 14);

    var size = new OpenLayers.Size(44, 48);
    var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
    var icon = new OpenLayers.Icon('/assets/localisation.png', size, offset);


    var markers = new OpenLayers.Layer.Markers( "Markers" );
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(lonLat, icon));

    });
    }

%div{:id => "bottom_line", :class => "barre"}
  %div{:id => "connect_button"}
    = link_to image_tag("Fb_logo.png"), user_omniauth_authorize_path(:facebook)
