= content_for(:title, "ShelterFinder")
%link{:rel => :stylesheet, :type => :"text.css", :href => "/assets/star_wars"}
#map{:style => "display:block; visibility:hidden"}
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/EjMNNpIksaI?autoplay=1", :width => "420"}
#titles
  #titlecontent
    %p.center NUIT DE L'INFO BY THE CASSEURS
    %p L'agitation règne au Sénat Galactique. Des milliers d’écoles et
    universités ont annoncé leur intention de participer à la nuit de 
    l’informatique.

    %p La sénatrice Amidala, ancienne reine de Naboo, revient au Sénat 
    Galactique pour participer à un vote crucial sur la réalisation d’un 
    défi pour aider les chevaliers CGI débordés...

    %p L’équilibre de la force est compromis par des seigneurs Sith, clamant l'apologie
    du code en solitaire et non documenté. Cette année vous pouvez aider les
    chevaliers CGI en relevant des défis nécessitant une maîtrise de la force et de
    la collaboration.

    %p Les casseurs overflowtants ont formé un ordre de Padawans et ont collaboré dans
    vos développements via le gestionnaires de versions git (grâce à maître Github).
    Les statistiques du dépôts montrent l'intensité des combats de la nuit...

    %p Ce ne sont pas ces droïdes que vous recherchez ! L'Easter-Egg qui avez découvert
    montre votre parfaite maîtrise de la force :-)

    %p Rétablit l’équilibre dans la force, nous avons ! 
