%link{:rel => :stylesheet, :type => :"text.css", :href => "/assets/star_wars"}
#map{:style => "display:block; visibility:hidden"}
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/EjMNNpIksaI?autoplay=1", :width => "420"}
#titles
  #titlecontent
    %p.center NUIT DE L'INFO BY THE CASSEURS
    %p Test
    %p This is a test
    
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi urna,
    malesuada ac vehicula sed, efficitur vel diam. Mauris consequat tincidunt tortor
    non lobortis. Curabitur vehicula mollis interdum. Donec diam lectus, ultricies
    id leo ut, sagittis blandit libero. Fusce ac libero non ligula vehicula lobortis
    ac ac quam. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
    
    %p Nulla commodo porttitor ex, eget convallis lectus euismod ac. Vivamus nunc
    augue, feugiat at imperdiet nec, bibendum quis turpis. Integer quis ornare
    ipsum. Donec vestibulum imperdiet mollis. Ut at faucibus mi. Maecenas ultricies
    ornare aliquam. Suspendisse nec ante nec sapien egestas elementum in et felis.
    
    %p Integer et elit vitae dui fermentum efficitur nec eget nisl. Suspendisse
    elementum ullamcorper dolor, a luctus mi. Maecenas pellentesque imperdiet nibh.
    Quisque sollicitudin, velit ac rhoncus aliquam, magna augue iaculis mi, ut
    porttitor mi est at nunc. Donec eu elit eu nisi euismod semper id sed tortor.
    
    %p Nulla pharetra et eros ut ullamcorper. Curabitur in feugiat tortor. Morbi auctor
    ligula scelerisque velit convallis tincidunt. Proin a nunc ac leo mattis
    egestas. Morbi imperdiet vitae justo vel condimentum. Sed at tellus et enim
    condimentum imperdiet scelerisque.
    
    %p Curabitur eget sem augue. In ante libero, hendrerit vel sapien a, pharetra
    cursus neque. Nam maximus leo ex, nec auctor tortor tincidunt et. Sed tempus
    mauris condimentum nunc ultricies facilisis. In hac habitasse platea dictumst.
    Nam justo magna, vulputate eu ligula eu, elementum cursus magna. Quisque sit
    amet vestibulum augue, at bibendum eros.
