div style="overflow:hidden; position:absolute; left:0; top:0; width:50px; height:25px;">
%div{:style => "margin-top:-290px;"}
  %object{:height => "315", :width => "420"}
    %param{:name => "allowFullScreen", :value => "true"}/
    %param{:name => "allowscriptaccess", :value => "always"}/
%p#start A short time ago in a browser very, very close…
%h1
  LA NUIT DE L'INFO
  %sub by the Casseurs Overflowtants
#titles
  #titlecontent
    %p.center
      Well this is cool.
      %br/
      I hope we will win ;-)
    %p It is a period of vendor war, bla bla
